<!doctype html>
<html lang="en">
<head>

<link rel="stylesheet" href="../api-de-prueba/styles.css">
<script src="https://kit.fontawesome.com/3b21fc997b.js" crossorigin="anonymous"></script>
<title>Planta_update</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
crossorigin="anonymous">

<link rel="shortcut icon" href="../api-de-prueba/img/favicon.ico">
</head>
<body>
<header id="header">
    <body class="grid-container"> <!--armé todo el body con grid template areas para que quede "prolijo" (ponele)-->
  
        <header class="header">
          <!--cambie el header -->
          <div class="logo"><!--acá colocamos la img dentro de una etiqueta <a> para convertirla en un enlace -->
      
              <li><a href="index.html"><img src="../api-de-prueba/img/logo1.png" alt="LOGO"></a> </li>
      
          </div>
    <nav>
        <ul class="navegacion">
            <li><a href="index.html">Inicio</a></li>
            <li><a href="formulario-de-contacto.html">Contacto</a></li>
            <li><a href="nosotras.html">Nosotras</a></li>
            <li><a href="tips.html">Tips comunidad</a></li>
        </ul>
    </nav></header>


<main>
<div class="container" id="app">
<form style="background-color: aliceblue;margin:10px auto ; width: 400px; padding: 20px;">
<h2>Editar Planta </h2>
<p>nombreCientif:{{nombreCientif}}</p>
<div class="mb-3">
<label for="id">Id</label>
<input type="number" name="id" id="id" disabled v-model="id" >
</div>
<div class="mb-3">
<label for="nombreComun">nombreComun</label>
<input type="text" name="nombreComun" id="nombreComun" v-model="nombreComun">
</div>
<div class="mb-3">
<label for="nombreCientif">nombreCientif</label>
<input type="text" name="nombreCientif" id="nombreCientif" v-model="nombreCientif">
</div>
<div class="mb-3">
<label for="imagen">Imagen</label>
<input type="text" name="imagen" id="imagen" v-model="imagen">
<img width="100" :src="imagen" alt="">
</div>
<button type="button" class="btn btn-success" v-on:click="modificar()">Grabar</button>
</form>

</div>
</main>
<!-- place footer here -->
<footer class="footer"> <!--este es el footer-->
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-whatsapp"></i>

    <p class="footer"> &#169 Todos los derechos reservados 2023<br>

        Programado por Josefina Moreno, Carina Rodrigues y Sofia Pizzamus</p>
</footer>
<!-- Bootstrap JavaScript Libraries -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
crossorigin="anonymous"> </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
crossorigin="anonymous"> </script>
<script src="./js/main.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="../js/planta_editar.js"></script>
</body>
</html>